.box {
  box-sizing: border-box;
  width: 400px;
  height: 350px;
  overflow: scroll;
  margin: 0 auto;
  margin-top: 50px;
  padding: 10px;
  position: relative;
  margin-bottom: 25px;
}

.box::after {
  position: absolute;
  content: "*";
  top: 0;
  left: 0;
}

button {
  width: 100px;
  height: 40px;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}

.buttons {
  display: flex;
  width: 350px;
  margin: 0 auto;
}